body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

h1 {
  font-size: 500%;
  margin-top: 10px;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-size: 225%;
  font-family: 'Crimson Text', serif;
  text-align: left;
  margin-left: 10px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.skills h2{
  text-align: left;
  margin-left: 10px;
}

.skill-icons{
  padding-left: 0;
}

.skill-icons ul{
  display:inline-block;
}

.profile-pic{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.profile h2{
  text-align: center;
}

.project-descriptions ul{
  text-align: left;
  width: 30%;
}

.contact-me h2{
  text-align: center;
}
